body{
    margin: 0;
    padding: 0;
}

.list-wrapper{
	display: none;
}
.btnlink{
	color: white;
	font-size: calc(110% + 1vh);
	text-decoration: none;
}
.btnlink:hover{
	color: white;
	text-decoration: none;
}